.jumbotron{
    background-color: maroon;
    color: white;
}
.display-4{
    font-weight: bold;
}

.allAboard{
    font-size: 25px;
}










footer{
    height: 80px;
    width: 100%;
    background-color: rgb(79, 7, 7);
    padding-top: 30px;
    color: white;
}